<!--h1>Author</h1-->
<ul class="profile">
  <li class="picture" style="background: #FFFFFF url(/images/profile_ando.gif) no-repeat scroll 0 0">
    <%= link_to "ANDO Yasushi's picture", "http://d.hatena.ne.jp/technohippy" %>
  </li>
  <li class="clearfix">
    <h2>ANDO Yasushi</h2>
    <p>Technohippy.net<p>
  </li>
</ul>

<ul class="data">
  <li>
    <p>ANDO Yasushi is a web developer in Japan and currently working for Seesaa Inc.</p>
    <p>Please feel free to contact me to request new futures, to report bugs or any other kind of comment for this site.</p>
  </li>
</ul>

<h1>Contact</h1>
<ul class="field">
  <li>
    <h3>E-mail</h3>
    <%- if iphone? -%>
      <%= mail_to 'andyjpn+iknow3g@gmail.com' %>
    <%- else -%>
      andyjpn _at_ gmail _dot_ com
    <%- end -%>
  </li>
  <li class="arrow">
    <h3>Website</h3>
    <small>Blog(JP)</small>
    <%= link_to 'd.hatena.ne.jp', 'http://d.hatena.ne.jp/technohippy' %>
  </li>
  <li class="arrow">
    <h3>LinkedIn</h3>
    <%= link_to 'AndoYasushi', 'http://www.linkedin.com/in/AndoYasushi' %>
  </li>
  <li class="arrow">
    <h3>Twitter</h3>
    <%= link_to 'technohippy', 'http://twitter.com/technohippy' %>
  </li>
</ul>

