<h1><%= @success ? 'Good!' : 'Wrong...' %></h1>
<ul>
  <li>
    <%= render :partial => 'iknow_item', :locals => {:item => @progress.item, :translation => false} %>
  </li>
  <li>(意味) <%= @progress.item.translation %></li>
</ul>

<p class="standard">
  <%- if @progress.exam.finished? -%>
    <%= link_to 'Complete', {:action => 'complete', :exam_id => @progress.exam}, :class => 'button blue' %>
  <%- else -%>
    <%= link_to 'Next', {:action => 'exam'}, :class => "button #{@success ? 'green' : 'red'}" %>
  <%- end -%>
</p>

