<%- if flash[:errors] -%>
  <div class="errors">
    <%= flash[:errors] %>
  </div>
<%- end -%>
<% form_tag({:action => 'setup'}, :id => 'user_form') do %>
  <h1 class="label">Account for this site</h1>
  <ul class="form">
    <li><%= text_iphone_field :user, :name, 'Name' %></li>
    <li><%= text_iphone_field :user, :password, 'Password' %></li>
  </ul>
  <h1 class="label">iKnow! User</h1>
  <ul class="form">
    <li><%= text_iphone_field :user, :iknow_user, 'iKnow! User' %></li>
  </ul>
<% end %>

<%- if session[:user] -%>
  <h1 class="label">Actions</h1>
  <p class="standard">
    <%- if session[:user].current_exam -%>
      <%= link_to 'Reset Current Exam', {:action => 'clear', :target => 'current'}, :confirm => 'Are you sure to clear?', :class => "button red special-button" %>
    <%- end -%>
    <%= link_to 'Clear All Exams', {:action => 'clear', :target => 'all'}, :confirm => 'Are you sure to clear?', :class => "button red special-button" %>
  </p>
<%- end -%>

