<%- if @item.sentence and @item.sentence_text_image -%>
  <ul>
    <li style="text-align:center"><%= image_tag @item.sentence_text_image, :width => '250' %></li>
  </ul>
<%- end -%>
<ul>
  <li>
    <%= @item.text %>
    <small style="margin-top:-7px; margin-right:-5px;">
      <%= replay_button @item.sound %>
    </small>
  </li>
  <li>
    <%= @item.translation %>
  </li>
</ul>
<%- if @item.sentence -%>
  <ul class="data">
    <li>
      <p><%= @item.sentence_text %></p>
    </li>
  </ul>
  <%= replay_button @item.sentence_sound, 'x30' %>
<%- end -%>
